@media only print {
  /* ensures that dynamically added styles end up in print */
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }

  .print-hide {
    display: none;
  }
}
